name: auto-start-status-check
on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "30 7 * * 1-5" # Every weekday at 7:30am GMT
env:
  GH_TOKEN: ${{ secrets.PLATFORM_USER_TOKEN }}
permissions:
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
          token: ${{ env.GH_TOKEN }}

      - name: "Az CLI login"
        uses: azure/login@v2
        with:
          client-id: 2b6fa9d7-7dba-4600-a58a-5e25554997aa # DTS AKS Auto-Shutdown
          tenant-id: 531ff96d-0ae9-462a-8d2d-bec7c0b42082 # HMCTS.NET
          allow-no-subscriptions: true

      - name: AKS START status check
        run: ./scripts/aks/auto-shutdown-status.sh start ${{ secrets.SHUTDOWN_NOTIFICATIONS_WEBHOOK }}

      - name: Postgres Flexible START status check
        run: ./scripts/flexible-server/flexserverstatus.sh start ${{ secrets.SHUTDOWN_NOTIFICATIONS_WEBHOOK }}

      - name: MySQL Flexible START status check
        run: ./scripts/mysql-flexible/mysql-flexible-status.sh start ${{ secrets.SHUTDOWN_NOTIFICATIONS_WEBHOOK }}

      - name: App Gateway START status check
        run: ./scripts/appgateway/appgw_status.sh start ${{ secrets.SHUTDOWN_NOTIFICATIONS_WEBHOOK }}

      - name: SQL Managed Instance START status check
        run: ./scripts/sqlmi/sqlmistatus.sh start ${{ secrets.SHUTDOWN_NOTIFICATIONS_WEBHOOK }}

      - name: SFTP START status check
        run: ./scripts/blob-storage/sftp-check-status.sh start ${{ secrets.SHUTDOWN_NOTIFICATIONS_WEBHOOK }}

      - name: VM START status check
        run: ./scripts/vm/vmstatus.sh start ${{ secrets.SHUTDOWN_NOTIFICATIONS_WEBHOOK }}

      - name: Output log file
        run: ./scripts/common/log-output.sh

      - name: Commit status update json files
        if: github.event_name != 'pull_request'
        continue-on-error: true
        run: |
          ls ./status
          git config user.name hmcts-platform-operations
          git config user.email github-platform-operations@hmcts.net
          git pull
          git add ./status
          git commit -m "Update json files start status updates"
          git push
