name: flexible-server-auto-shutdown
on:
  workflow_dispatch:
  schedule:
    - cron: "0 20,23 * * *" # Every day at 20:00 and 23:00 GMT
env:
  DEV_ENV: ${{ secrets.DEV_ENV }}
permissions:
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: "Az CLI login"
        uses: azure/login@v2
        with:
          client-id: 2b6fa9d7-7dba-4600-a58a-5e25554997aa # DTS AKS Auto-Shutdown
          tenant-id: 531ff96d-0ae9-462a-8d2d-bec7c0b42082 # HMCTS.NET
          allow-no-subscriptions: true

      # PRIMARY
      - name: Staging - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop staging '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Test - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop testing '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Demo - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop demo '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Development - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop development '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Sandbox - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop sandbox '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: ITHC - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop ithc '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      # Test prod flexible server ccd sccs instance
      - name: Production - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop production '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Untagged - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop untagged '' primary
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Wait for 3 minutes
        if: env.DEV_ENV == 'false'
        run: sleep 180

      # REPLICA
      - name: Staging Replicas - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop staging '' replica
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Test Replicas - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop testing '' replica
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Demo Replicas - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop demo '' replica
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Development Replicas - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop development '' replica
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Sandbox Replicas - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop sandbox '' replica
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: ITHC Replicas - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop ithc '' replica
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Untagged Replicas - Postgres Flexible server Auto Stop
        run: ./scripts/flexible-server/auto-start-stop.sh stop untagged '' replica
        env:
          DEV_ENV: ${{ env.DEV_ENV }}

      - name: Output log file
        run: ./scripts/common/log-output.sh
