name: json-file-cleardown
on:
  workflow_dispatch:
  schedule:
    - cron: "0 19 * * *" # Every day at 19:00 GMT
env:
  GH_TOKEN: ${{ secrets.PLATFORM_USER_TOKEN }}
permissions:
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
          token: ${{ env.GH_TOKEN }}

      - name: Remove json status files
        run: |
          rm -f status/*

      - name: Commit empty json status folder
        continue-on-error: true
        run: |
          git config user.name hmcts-platform-operations
          git config user.email github-platform-operations@hmcts.net
          git add .
          git commit -m "JSON Status files housekeeping"
          git push
